


<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Book Name</th>
      <th>Author Name</th>
      <th>Brief description</th>
      <th>Extended description</th>
      <th colspan="3"></th>
      
    </tr>
  </thead>
  <tbody>
    <% @libraries.each do |table| %>
      <tr>
        <td><%= table.book_name %></td>
        <td><%= table.Author_name %></td>
        <td><%= table.brief_description %></td>
        <td><%= table.extended_description %></td>
        <td>
          <%= link_to "Show", library_path(table) %>
        </td>
        <td>
          <%= link_to "Edit", new_library_path(table) %>
        </td>  
      </tr>    
    <% end %>
  </tbody>
</table>



<%= link_to "Add new books", new_library_path,class:"btn btn-secondary"%>


