
<div class="jumbotron">
  <h1 class="display-4"><%= stud.stud_name %> </h1>
  <p class="lead">
    <%= stud.stud_address %>
  </p>
  <hr class="my-4">

  <%= link_to "Assign to student", @stud, method: :delete,data: { confirm: "Are you sure?" },class:"btn btn-secondary"%>
  <br></br>
  <%= link_to "Edit", new_stud_path(@library),class:"btn btn-secondary" %> 
  <%= link_to "Back", studs_path,class:"btn btn-dark"%>
  <br></br>
  <%= button_to "Destroy ", @stud, method: :delete ,data: { confirm: "Are you sure?" },class:"btn btn-primary"%>
